#ec_commentsPanel{
	color:#222;
	font-family:verdana,arial,helvetica,sans-serif;
}
#ec_commentList{
	background-color:#EEE;
	border: 1px solid #999;
	padding:10px;
}
#ec_commentsPanel h1{
	font-size: 120%;
	padding:0px;
}
.comment{
	border: 1px solid #999;
	list-style-type: none;
	background-color:#DCDCDC;
	margin-bottom:10px;
}
.comment .author{
	margin-left:5px;
	color:black;
	font-weight:bold;
}
.comment .author a{
	color:black;
}
.comment .body{
	padding:5px;
}
#ec_errorMessages{
	border: 1px solid #999;
	background-color:#eee;
	color:RED;
	margin-bottom:20px;
}
#ec_newCommentForm{
	background-color:#EEE;
	border: 1px solid #999;
	padding:10px;
}